@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-opacity-10 bg-secondary py-2">
    <div class="container">
        <h1>View All Items</h1>
    </div>
</div>